spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/User
    username: ivalov
    password: 059937
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true